[2014-03-18 06:39] dayyeung opened #2 "Not cacheable"
Is it possible to make it cacheable?

[2014-03-18 06:51] #2 closed, assigned to nobody

[2014-10-09 00:31] justin808 opened #5 "Any way to expose when not in the bundle?"
I'd like to be able to expose a library using the loader, but suppose that library is not directly referenced. I'm guessing I can make an entry point, but I was wondering if a param could be added to the loader to always put in the library.

[2014-11-21 20:43] jeffling opened #7 "Expose Order?"
I have a common bundle like this:

`common: ['expose?jQuery!jquery', 'expose?angular!angular', 'angular-ui-router', 'angular-animate', 'angular-sanitize']`

I also extend it like `new webpack.optimize.CommonsChunkPlugin 'common', 'common/common.js'`

It seems like angular isn't exposed before angular-ui-router runs, causing an error.

Taking everything angular-related out of the common bundle and

[2015-01-13 22:09] richardscarrott opened #8 "Uncaught ReferenceError: global is not defined"
I'm using the expose loader like this:

[code]

With the following `webpack.config`:

[code]

The module compiles down to:

[code]

so even if I change global to window it'll error out on the require call.

What I imagine it should compile down to is:

[code]

I'm struggling to work out how I'd achieve this or what I'm doing wrong, any ideas?

[2015-01-13 22:17] richardscarrott commented on #8
Might be worth noting I also get a similar problem when using the import loader:

[code]

because it compiles down to:

[code]

[2015-01-13 22:29] richardscarrott commented on #8
I've found the problem, it's because of `noParse: /bower_components/` which prevented the loader output from being being transpiled...

[2015-01-13 22:29] #8 closed

[2015-03-16 16:20] tangrammer opened #10 "Simple use case doesn't work :("
Hi webpack guys,
I'm struggling with this tool, I've just followed your basic instructions but no way to access window.libraryName

This is my file.js
[code]
This is my expose-loader call
[code]
And this is the result I get :

![screen shot 2015-03-16 at 17 19 40](https://cloud.githubusercontent.com/assets/731829/6670727/ac940232-cc00-11e4-88ad-ca713d50a432.png)

Thanks in advance!
Juan

[2015-03-17 14:50] tangrammer commented on #10
After a bit of more team working on that, We came upon that in webpack development mode your `window` isn't your `iframe.window`

[2015-03-17 14:50] #10 closed

[2015-03-17 15:15] sokra commented on #10
yeah... better use the `--inline` mode of the webpack-dev-server. It's cooler and easier...

[2015-07-01 08:51] geminiyellow opened #11 "Multiple Expose?"
e.g.

in webpack 's config file, how to expose jquery as jQuery and $?
have to write tow loader?

[2015-07-08 02:43] framerate commented on #10
I think I'm having the same misunderstanding here...

[code]

just gives me

[code]

so I think a step is missing from the tutorial readme? (or its late and I missed it)

[2015-07-08 23:27] framerate commented on #10
This is in my `webpack.config.js file.`

Is that not meant how to do it? I was unclear based on the README.

My goal was just to get React dom tools to work again.

[2015-07-10 06:47] levithomason commented on #10
Lost here as well.  I've tried both the require and config approaches to no avail.  Double checked the docs on loaders but can't seem to get anything exposed to the window in either case.

[2015-09-02 00:02] pribilinskiy commented on #11
A glimpse on the code reveals that it is possible to expose multiple variables only by writing `expose` multiple times, e.g: `expose?$!expose?jQuery`

[2015-09-02 03:09] shama commented on #11
Another way is just do `var jQuery = $ = require('jquery')` or `window.jQuery = window.$ = require('jquery')` to expose globally, as jQuery not supports this.

Thanks @pribilinskiy for a solution as well!

[2015-09-02 03:09] #11 closed

[2015-12-22 02:29] simkessy opened #13 "jQuery and moment work unless explicitly set to window in entry.js"
I get

If I do:
[code]
But when I write it out like this:

[code]

It seems to work fine. Is there a reason for this

[2015-12-22 02:44] shama commented on #13
`require("expose?$!jquery");` only exposes the variable `$`. If you also want to expose the variable `jQuery` as well using this loader then do `expose?$!expose?jQuery`.

[2015-12-22 02:44] #13 closed

[2015-12-22 03:01] simkessy commented on #13
I tried it  `require("expose?$!expose?jQuery");` and got this:

Module not found: Error: Cannot resolve module 'expose' in C:\Users\Administrator\Dropbox\projects\spDash\app\js
 @ ./app/js/loader.js 1:0-33

[2015-12-22 03:53] shama commented on #13
Oh sorry my mistake!

[2015-12-22 04:27] simkessy commented on #13
No worries, put me on the right path. Thanks for the help.

[2016-01-04 21:17] dtothefp opened #14 "Babel 6 module.exports syntax"
With the introduction of Babel 6 it seems that the `expose`d syntax has changed, and now instead of receiving the item exported by `export default` an Object is received with a `default` key. Assuming it has to do with

http://stackoverflow.com/questions/33505992/babel-6-changes-how-it-exports-default
https://phabricator.babeljs.io/T2212

<img width="236" alt="screen shot 2016-01-04 at 4 14 22 pm"

[2016-01-13 06:29] nayaabkhan opened #15 "Exposing JSX Components"
So I am trying to expose all my React components in the bundle to global of the browser (`window`). I am using the webpack's `expose-loader` to do so.

I have full success in exposing plain JS modules but when I try to expose JSX modules, it gives me an error:

    Module parse failed: ~/project/src/components/list.jsx Line 20: Unexpected token <
    You may need an appropriate loader to handle th

[2016-01-13 08:12] nayaabkhan commented on #15
Was able to solve it by switching the loaders:

      {
        test: /list.jsx$/,
        loaders: ["expose?List", "babel-loader?presets[]=react,presets[]=es2015"]
      }

[2016-01-13 08:15] #15 closed

[2016-01-25 08:44] grofit commented on #7
I have a similar issue where where I am exposing knockout and knockout validation but the validation aspect does not seem to link to the underlying ko instance.

[2016-01-25 09:01] grofit opened #16 "Exposing modules which augment existing objects"
So I currently use Sugar.js internally in a library (webpack outputs as a library) and sugar just extends native objects so there is no object returned from its require, i.e:

[code]

So in these scenarios how can I get it to expose this module when it does not return anything?

[2016-01-27 10:01] grofit commented on #16
This is a non-issue, turns out the module was not being included correctly so it was not being picked up so expose could not expose it, I manually added a file which explicitly had this file in for re-exporting and it worked so closing.

[2016-01-27 10:01] #16 closed

[2016-02-26 23:09] victormoukhortov opened #18 "Source Maps Not Generated"
It seems as though source maps for my exposed file don't get generated properly:

[code]

The generated source map looks like this (using cheap-module-eval-source-map), which does not match the contents of `index.js`

[code]

[2016-03-15 06:00] TylerYang opened #19 "Not able to expose the variable with dot in its name"
Hi guys, let's say I have a js file with dot in its name, e.g `xyz.template.js`.  And I want to expose it into my global variable `modules` => `modules['xyz.template.js']`.

According to the [source code](https://github.com/webpack/expose-loader/blob/v0.7.1/index.js#L7) below(`value.split(".")`),  it is not possible to expose a variable which name contains 'dot'. I think it should be able to do th

[2016-05-05 16:49] lananelson commented on #14
@dtothefp did you find a way around this issue?

[2016-05-10 12:42] titoasty commented on #14
After a long search and testing of multiple loaders, I've found these solutions :

## First solution :
Replace
`export default myObject`
by
`module.exports = myObject`

and so the expose loader works :)

## Second solution :
If you don't mind about namespaces, I also found another trick :
First create a file where you import all the files you need

[code]

then import this file this way :
`import

[2016-05-11 10:57] Zache commented on #14
Did you try the ```add-module-exports``` plugin for babel?

[2016-05-23 06:43] evisong commented on #19
According to source code, it becomes `modules['xyy']['template']['js']`

[2016-05-23 10:19] evisong commented on #18
Facing the same issue. Source map is not correct.

[2016-06-30 11:51] reglisse44 commented on #14
Hi I have the same problem. I would like to export a angular module by this way:
`export default angular.module('app', []);`
but I have the default key which contain my angular module instead of just have my angular module :/

[2016-07-15 22:24] tysonnero opened #20 "Exposing jQuery not working"
In my webpack config I have the following line to expose jQuery on the global scope

[code]

I have a file that uses the $. For example:

[code]

However, during my webpack build, get the following error:

[code]

Also, if I put the following directly in my file:

[code]

I get this error:

[code]

According to this page, the above should all work: https://webpack.github.io/docs/shimming-modules.h

[2016-07-17 19:23] dschissler opened #21 "Please provide example for Webpack 2 syntax"
For example something like this.  It would be very helpful if two Webpack 2 examples could be given for something like this with 1 and 2 exposes.

[code]

[2016-08-07 19:04] d-ph opened #22 "Can't expose bluebird using `module.loaders` config in webpack.config.js."
Hi,

For some reason I can't expose bluebird when using this config:

[code]

but everything's fine, when I expose it inline like this:

[code]

Do I do anything obviously wrong here?

I prepared a mini-project, that shows the problem: [link](http://www.megafileupload.com/buV5/expose-loader-debug.zip).
1. Unzip
2. `npm install`
3. `npm run webpack`
4. Open index.html
5. Open dev tools in the brows

[2016-08-10 19:00] rufus2021 commented on #20
Having the same problem.

[2016-08-14 05:53] tysonnero commented on #20
For what I was trying to do, I abandoned the above approach and simply pulled out jQuery into its own bundle using CommonChunks:

`plugins: [
    new webpack.optimize.CommonsChunkPlugin('jquery', 'shared/jquery/jquery.min.js')
  ],`

[2016-08-16 04:11] evisong commented on #18
I've met another related issue: with the combination of `cheap-module-eval-source-map` and `babel?presets[]=es2015&presets[]=react&presets[]=stage-0`, the build failed due to soft errors:
[code]
Which seems that expose-loader was trying to parse source maps but failed.

My workaround is to switch the order of `expose-loader` and `babel-loader`:
[code]

The generated source map is still not right (

[2016-09-15 12:07] JohnnyFun commented on #20
Be sure you have stable version of node installed. I had latest and it wasn't erroring or anything. Just wasn't working. Installed stable, good to go.

[2016-09-20 21:30] PVAngular opened #23 "Issue with expose-loader"
I have a react component which is written in ES6. I have used babel/webpack to transpile it and generate a index.js file. I noticed that the resulting React Component is wrapped in a function and I cannot use it externally. I am trying to use it a different angular controller. I am trying to use webpack expose-loader but I still see undefined for the locally scoped vars.

**webpack.config.js**(sni

[2016-09-20 22:21] montskak commented on #20
@JohnnyFun are you running v4.5.0?

[2016-09-20 23:06] JohnnyFun commented on #20
Yep:
node -v && npm -v
v4.5.0
3.7.5

[2016-09-21 03:04] montskak commented on #20
What is your version of jQuery? Still have the same error as @tysonnero.
node -v && npm -v
v4.5.0
3.7.5

[2016-09-22 07:17] qieqing commented on #14
I resolved the same problem by `add-module-exports` plugin, thx

[2016-10-09 11:11] SpaceK33z commented on #23
I would suggest to use `ProvidePlugin`:

[code]

For better help I would suggest to use StackOverflow.

[2016-10-30 12:49] zjcf opened #25 "issue with dll plugin"
Hi, I got a problem when use expose and dll plugin at the same time, when I put the jquery in dll plugin, it will not work.

If I don't use dll plugin, it can work well both use `require('expose?jQuery!jquery')`  and write it in webpack config file.

But since I put jquery in dll plugin, it can only work by using `require('expose?jQuery!jquery')`. If I write the jquery loader in config file, it wi

[2016-11-29 11:23] crucialfelix commented on #21
It seems to be this:

[code]

at least I now have it building and window.jQuery and window.$ are there.

though I imagine they will change that. 'query' is only called that because of the `?` syntax. As an option, it isn't a query at all.

I expect they will change it to `options: { name: 'jQuery' }`

[2016-12-01 20:15] artyomtrityak opened #27 "Expose after imports does not work, plugins order issue"
Webpack v1.13.3

## OK

This does work and `this` inside Backbone becomes window.
[code]
Compiled source:
[code]

## Error

This does now work because `this` inside Backbone is undefined.
[code]
Compiled source (no second `}.call(window))`):
[code]

## OK №2

If plugins order changed and expose put first it works

[code]

[2016-12-14 11:28] SpaceK33z commented on #23
Did you find a fix to your issue @PVAngular?

[2017-01-19 10:06] evisong commented on #18
Hi, team,

Sorry for pushing but any progress on this ticket?

Thanks.

[2017-01-19 10:18] SpaceK33z commented on #18
@evisong no. Please try to create a PR if you really want this.

[2017-02-14 03:07] chenxeed opened #29 "jQuery failed to expose after update to 0.7.2"
Hi, I face these errors after I update my package to use `expose-loader` 0.7.2

<img width="604" alt="screen shot 2017-02-14 at 11 07 06 am" src="https://cloud.githubusercontent.com/assets/3530355/22913442/c1a4330e-f2a5-11e6-916d-95d77a3600d2.png">

I confirmed this because when I revert the version back to 0.7.1, it's working normally again, no errors.

Thank you!

[2017-02-14 03:18] chenxeed commented on #29
FYI, this is my webpack config to expose jquery. It's still working on 0.7.1.

[code]

[2017-02-14 03:25] Boshen commented on #29
After 7ae08d1743701ab119997c7f2608ca625129854c
[code]
becomes
[code]
which breaks the build

[2017-02-14 03:48] FeliciousX commented on #29
can confirm there's a breaking change..

[code]

the order matters.. the first one goes through but `$` does not.

doing this

[code]

also doesn't expose `$` as jquery .. order matters again.. strange

v

[2017-02-14 13:17] stephencookdev commented on #29
This seems to be the case for all multiple aliases to one library (i.e., does not just affect jQuery)

[2017-02-14 16:17] jimbolla opened #31 "Webpack build fails after upgrading to expose-loader 0.7.2"
After running npm update, which upgraded expose-loader from 0.7.1 to 0.7.2, I now get the following errror:

[code]

It looks like the change is causing webpack to not pass my file through babel. If I downgrade back to 0.7.1, it starts working as expected. The relevant parts of my webpack.config.js:

[code]

[2017-02-14 16:31] rowanhill opened #32 "0.7.2: webpack no longer traverses project"
Hello! Apologies if I'm raising this in the wrong place, but my build has started failing, and it looks like it's related to the recent 0.7.2 release of expose-loader.

FWIW, my build is now failing because UglifyJS is claiming there's a syntax error, specifically `Unexpected token: punc({)`.

I think that's a bit of a red herring, though: UglifyJS is choking on an `export {Foo} from './bar'` line

[2017-02-14 17:07] jvmccarthy commented on #29
Yes, I think what's going on here is that the fix in #28 doesn't account for other loaders to be used in sequence. In my case, I have to shim a module with both exports and expose loaders in sequence. I think when the path was changed to relative, the other loader information was stripped off.

[2017-02-14 18:24] cletusw commented on #29
This is also affecting my company. Temporarily pinned our build at v0.7.1

[2017-02-14 18:58] d3viant0ne commented on #31
Consolidating conversation to #29

[2017-02-14 18:58] #31 closed

[2017-02-14 18:59] d3viant0ne commented on #32
Consolidating conversation to #29

[2017-02-14 18:59] #32 closed

[2017-02-14 19:06] d3viant0ne commented on #29
@rowanhill @jimbolla - Please pick up 0.7.3 and ping me back if you are still having issues.

Anyone in the thread that has a public project throw up a link, i'm going to write some unit tests for this loader and I'd like to cover as many use cases as possible.

[2017-02-14 19:50] gdborton commented on #29
Let me know if I can help in any way with the tests. I wanted to add some to the original pr, but I didn't know if my approach was the best.

[2017-02-14 20:56] jimbolla commented on #29
0.7.3 worked for me. Thanks.

[2017-02-14 22:31] rowanhill commented on #29
@d3viant0ne I'm afraid my repo isn't public, but I'm happy to confirm that 0.7.3 has fixed things for me.

Thanks for responding so quickly!

[2017-02-14 23:17] d3viant0ne commented on #29
Cool & no problem :)

[2017-02-16 06:32] chenxeed commented on #29
Hi, I upgraded my package to 0.7.3 and it's fixed now, thanks a lot! I'll close this issue now.

[2017-02-16 06:32] #29 closed

[2017-02-21 21:27] hgiesel opened #35 "Can you expose-loader this with ts-loader?"
#### Configuration:
* index.ts
[code]
* webpack.config.js
[code]

#### Expected behavior:
* get a compiled file called bundle.js

#### Actual behavior:
[code]

[2017-02-28 15:12] Rudde opened #38 "Exposing jquery-ui-bundle with jquery"
Hello.

Works great for exposing jquery and moment, but how do I append jquery-ui-bundle to $ and jquery and moment-timezone to moment?

Same goes for everything that have separate locale files.

How can I expose nameless javascript like locale, and library that depend on others like jquery and moment?

[2017-03-08 09:49] w- opened #40 "what is wrong with this webpack2 expose-loader config?"
I am attempting to consume react-handsontable which recommends using expose-loader to make some dependencies available on the global scope.
https://github.com/handsontable/react-handsontable/wiki/Installation-guide#hot-ce-webpack

I have this issue
https://github.com/handsontable/react-handsontable/issues/11

which may just be my ignorance in configuring expose-loader.

from the issue above:
relev

[2017-03-17 20:48] redler commented on #40
Does it work if you try it in your code directly, with something like `require('expose-loader?moment!moment`?

[2017-03-25 11:43] kaizencodes commented on #40
Try to use this format https://github.com/webpack-contrib/expose-loader/issues/21#issuecomment-263545579

so instead of
[code]
try this:
[code]

[2017-03-26 22:43] LaniMoo commented on #38
I'd also like to know the answer to this. Thanks!

[2017-03-26 22:52] michael-ciniawsky commented on #35
@hgiesel The propose of `expose-loader` is to add packages to `window`, as the Error suggests use an import instead `import _ from 'lodash'`

[2017-03-26 22:52] #35 closed

[2017-03-26 22:53] #5 closed

[2017-03-26 22:56] #14 closed

[2017-03-27 15:52] w- commented on #40
@redler  and @kaizencodes .

Unfortunately neither work. I've given up on using the handsontable react library so haven't pursued much more than i already have.

[2017-03-27 16:04] michael-ciniawsky commented on #40
@w- You could you take a look at `imports-loader` maybe. I don't know how handsontable etc exports their code, maybe `exports-loader` simply can't load that. Sry for the inconvenience here, we are working on improving and documenting things like that better in the near future 🙃

[2017-03-27 16:04] #40 closed

[2017-04-09 04:23] d3viant0ne opened #41 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-11 09:24] simonemazzoni commented on #38
I'm interested too. I can't find a way to expose jquery with jquery-ui to properly use animations.

[2017-04-12 03:13] michael-ciniawsky commented on #38
I will come back soon, but I need to ask @slack about this, an example config (`webpack.config.js`), demo repo etc from one of you guys would be helpful and appreciated 😛

[2017-04-15 17:26] gunnim opened #43 "expose ES6 modules"
When exposing an es6 module i get a global object with a property named default which represents the export.

I would like to be able to skip this wrapper and have the global variable = default export. no abstraction/wrapper.

As it stands I find myself creating intermediate modules with the following syntax
module.exports = require('./filename').default;

and then
require('expose-loader?LibraryNa

[2017-04-15 22:26] michael-ciniawsky commented on #43
@gunnim Yep we plan to export ES2015 Modules by default in the next major releases of all loaders, but since this is a breaking change and we try to it in one batch, will take some time

Meanwhile you could chnage this line [#20](https://github.com/webpack-contrib/expose-loader/blob/master/index.js#L20) yourself and it should work 😛

`module.exports = ... => export default ...`

[2017-04-15 22:27] gunnim commented on #43
Deduced the following after inspecting the webpack bundle
global["LibraryName"] = require('./fileName').default;

Is this syntax safe to use with webpack or is this subject to change?

[2017-04-15 22:31] michael-ciniawsky commented on #43
Not in the near future, but no guarantees 😛. It's the internal way webpack handles ES2015 Modules (webpack is a still node module (CJS)). Should be fine

[2017-04-16 15:37] gunnim commented on #43
Alright, thanks for the quick support :)

[2017-04-16 15:37] #43 closed

[2017-04-28 12:15] steffanhalv commented on #38
Any update on this?

[2017-05-17 06:38] crazyfx1 opened #46 "Expose without libraryName"
Is it possible to export all namespaces of a file without a libraryName?

Consider this example:
_Public.ts
`
import { MyClass } from 'MyClass';
export namespace MyNamespace {
   export const Class = MyClass;
}`

And this expose-loader:
`
require("expose-loader?!xxx./_Public"); // what to use here?
`

How can I export the MyNamespace to the global scope without specifying an additional libraryName

[2017-05-18 14:37] bonesoul opened #47 "how to expose to inline script?"
i've a bundle and some functions and i want to be able to expose them to my inline html <script> tag. is it even possible?

[2017-05-23 09:18] andrewQwer commented on #25
@zjcf
Did you find any solution for this issue?

[2017-05-24 10:40] hjlld opened #48 "Does not work on Windows 10 OS?"
First here's my webpack.config.js:

[code]

Then I found a weird thing, with a totally same project and its code:

- After building on Windows 10 OS,  window.BABYLON is not defined.
- But after building on Mac or Linux,  window.BABYLON is OK.

[2017-05-24 10:50] evilebottnawi commented on #48
@hjlld please create minimal reproducible test repo, thanks!

[2017-05-25 15:36] hjlld commented on #48
@evilebottnawi sorry for my late reply. Try this repo:

https://github.com/hjlld/expose-example

1. npm install
2. npm run build

[2017-05-25 22:29] ianlofs commented on #47
I have the exact same use case. Trying to convert a legacy code base that has quite a few of inline html script tags which rely on vendor code.

[2017-06-01 22:40] Restuta commented on #25
same here

[2017-06-01 23:45] Restuta commented on #25
@andrewQwer @zjcf ProvidePlugin worked for us

[code]

[2017-06-02 06:41] andrewQwer commented on #25
@Restuta unfortunately this doesn't work for me, because ProvidePlugin injects listed modules into another module where $, jQuery or window.jQuery is used. In  my case third party library adds handler to html element like `onCLick='jQuery(blablabla...)'` that can't be solved by ProvidePlugin, but only with expose-loader.

[2017-06-08 01:16] klimashkin commented on #27
The same issue with exposing react
[code]
If it is not first loader then modules that require react might be invoked before react itself is required.

[2017-06-15 10:04] fox19920726 commented on #20
i have this problem toooooo

[2017-06-20 04:40] ryanquinn3 commented on #25
I believe I got this to work. You just need to make sure the normal bundle imports the jQuery module with expose. I did so in my webpack.config

I have a `dll.js` file that looks like this:
[code]
In my dll.config.js:
[code]
My webpack.config.entry looks like:
[code]

[2017-06-20 06:49] andrewQwer commented on #25
Yeah, finally I got this work too. I just put expose loader to both places dll and entry.

[2017-06-20 10:33] KhraksMamtsov commented on #25
@andrewQwer , could you please provide example of your solution?

[2017-06-20 11:30] andrewQwer commented on #25
I just put this line into loaders section in both places: dll config and entry build config
[code]
It worked for my problem with jqGrid library.

[2017-07-03 22:36] chrisrickard commented on #25
Hi guys, im on webpack 3.0.0 - and still can't seem to get this to work.

neither "$" or "jQuery" are being exposed on the window (although my DLL is being included ok)

My DLL looks like

[code]

And in my webpack.config I have:

[code]

and in module rules

[code]

Any help would be appreciated

[2017-07-04 01:01] Restuta commented on #25
@ryanquinn3 are you sure your normal bundle doesn't contain jQuery since the whole point of doing this is to extract jQuery it to DLL, right? Could you please confirm that it doesn't?

[2017-07-08 09:05] Wapweb commented on #20
Have the same issue
os: windows 10 64bit
node: v6.11.0
npm: v3.10.10
expose-loader: v0.7.3
webpack: v3.1.0
jquery: v3.2.1

[webpack.config.txt](https://github.com/webpack-contrib/expose-loader/files/1132868/webpack.config.txt)

[2017-07-08 15:05] JohnnyFun commented on #20
fwiw, a kind of hacky way I've worked around it in the past was to make a module that explicitly sets jquery on the window:

import Jquery from 'jquery';
window.$ = Jquery;
window.jQuery = Jquery;
export default Jquery;

Then just import/require that in your entry file and should be good.

But of course favor the way webpack says to do it. This should only be used if you just want to move on with

[2017-07-08 22:37] Wapweb commented on #20
I finally got 2 solutions that resolved my issue:
first:

[code]
second (as  @JohnnyFun mentioned ):
[code]

[2017-07-11 22:38] NervosaX opened #49 "NamedModulesPlugin breaks expose-loader from exposing the variable globally"
The desired setup would be to have jquery exposed globally for plugins that require it (using expose-loader). HMR and NamedModulesPlugin allows for seeing the name of the modules that have been required to be reloaded.

Instead when adding expose-loader and NamedModulesPlugin, the global variable is no longer being added correctly and crashes the application.

Here is a minimal reproduction using

[2017-07-14 10:44] gingray commented on #20
@Wapweb this approach is also working for me but I've faced with that standard way is not working (or maybe I do something wrong)
[code]

but this one is working fine
[code]
anyway standard is looking much better from my side, any suggestions how to make standard work ?

[2017-07-22 20:02] rektide commented on #46
Yeah. Exactly. There are dozens of suggestions all over the web for how to author a file that exports a manually written out list of modules such that they can be consumed from the console.

I'd really really appreciate a way to interface with the webpack bundle in a general, rather than special case kind of way.

[2017-07-27 15:57] gbellini79 commented on #48
We just had the same problem.
On Windows apparently the file path comes with \ instead of /. So in your RegEx you should handle both cases as: /assets[\\\\\\/]lib[\\\\\\/]babylon\\.js$/
(http://regexr.com/3geks)

[2017-08-03 22:41] nathanforce opened #50 "Exposing Modules Imported from Nested Path"
Has there been any thought around exposing modules that are imported via a direct path, for example Lodash?

`import map from lodash/map`

I'm not sure of the best way to do it, or if it is even possible, but it would be a nice addition if so.

The only thing I could come up with is that you could have something ugly like..

[code]

Something along those lines.  It's definitely not great but I'm c

[2017-08-10 01:48] luaz opened #51 "[Bug] Setup via `webpack.config.js` file not working"
I am trying to expose jquery to be accessible via $ on external HTML/Browser Console.

The following works:
require("expose-loader?$!jquery");

This doesn't work:
[code]
I was wondering did I configure it wrongly.

expose-loader: 0.7.3
webpack: 3.5.1
node: 6.11.2

[2017-08-16 04:38] sunnysideup opened #53 "issue with jquery ...."
We are using webpack 3:

Here are our config:

[code]

in main.js we have:

[code]

Works fine on build, but it does not work fine when NPM is watching / running (jquery is NOT recognised inside webpack nor outside of it at all).

Any ideas?

[2017-08-16 10:03] evilebottnawi commented on #53
@sunnysideup your want change `jquery` in `watch` mode and it is run rebuild, right? Looking on code `expose-loader` seems it is expected behavior, can your create minimum test repo, because use code from issue to reproduce is very inconvenient, thanks!

[2017-09-02 22:36] bsbodden commented on #25
@chrisrickard did you ever get this to work with webpack 3.x?

[2017-09-08 23:38] chrisrickard commented on #25
@bsbodden I did yes, I found out that I had to include the jquery alias in my main webpack.config (even though it was being included from my webpack.vendor.dll.js).

[code]

[2017-09-15 17:05] niedfelj opened #54 "Compatibility with webpack/webpacker 3?"
This doesn't appear to be working correctly with the latest webpacker/rails setup, has it been tested with webpack 3? We are using the require format like this:

require('expose-loader?$!jquery')

And not seeing a global $ defined

[2017-09-18 04:53] mifopen commented on #25
I think issue #https://github.com/webpack/webpack/issues/4589 is somehow linked to this issue. @zjcf, `require("expose?$!jquery")` works because its resource name is the same as resource name of exposed jquery in dll manifest:
[code]
If I `import $ from "jquery";` then dll plugin will delegate to original jquery module in vendor dll, instead of exposed.
@sokra, can you help with this?

[2017-09-21 13:10] ErikSchierboom commented on #22
I have the exact same issue. Any ideas?

[2017-09-21 13:20] ErikSchierboom commented on #20
@gingray Did you manage to find a solution to your problem, as I have the exact same issue where the `import` syntax works but the loader syntax doesn't.

[2017-09-22 08:12] gingray commented on #20
@ErikSchierboom yes sorry for late response but hope it will be still helpful. Webpack is pretty tricky tool (I think for most of backend developers).
`expose-loader` is working for me it seems I configure it wrong somehow but add few remarks. If you have `coffescript` and create classes which expose to global context like
[code]
to use `expose-loader` it will be this way
[code]
but need to do cha

[2017-10-05 16:09] airwave-development commented on #51
Same problem

[2017-10-18 14:31] WiseBird commented on #51
@luaz @airwave-development can you provide a reproduction?
I've created a [simple version](https://github.com/WiseBird/expose_loader_jquery) with the setup and it works just fine.

[2017-10-18 14:41] WiseBird commented on #51
Also this issue duplicates #20

[2017-10-18 15:38] WiseBird opened #55 "Setup via `webpack.config.js` file not working with NamedModulesPlugin"
Reproduction - https://github.com/WiseBird/expose_loader_named_modules_plugin

I use `expose-loader` to expose jquery:
[code]

It works without `NamedModulesPlugin` while producing next output:
[code]

when `NamedModulesPlugin` is included output is following:
[code]

So both modules: the one exposing jquery and the one containing jquery have the same name.

Moreover when exposing via `require('ex

[2017-10-19 15:12] michael-ciniawsky commented on #51
Duplicate of #20

[2017-10-19 15:12] #51 closed

[2017-10-23 07:01] sokra commented on #55
That's a bug in `libIdent` webpack/webpack.

[2017-10-23 08:01] WiseBird commented on #55
@sokra Should I refile it there?

[2017-10-24 05:10] #7 closed

[2017-11-06 17:48] ypconstante commented on #55
Some other issues related this bug:
- webpack/webpack#4613
- webpack-contrib/expose-loader#49
- webpack-contrib/extract-text-webpack-plugin#648

The extract-text-webpack-plugin issue was fixed, maybe the fix is similar.

[2017-11-07 14:20] benirose opened #56 "[Refactor] Support exposing ESM without `harmony` export"
I'm using expose-loader to expose some ES6 modules, which are currently using `export default {...}`, however instead of getting the resource at my exposed variable, it's at `module.default`. Here's my require:
[code]

And here's my export:
[code]

My module is now exposed at `Store.default`.

Is this just a side effect of ES6 modules or is there a way to expose the default directly on the variabl

[2017-11-08 01:32] cansin commented on #55
Actually the problem `expose-loader` encountering might be different from what `extract-text-webpack-plugin` is having (based on https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/648#issuecomment-337031831 ).

[2017-11-10 21:37] cansin commented on #55
So a patch to `webpack/webpack` (as described at https://github.com/webpack/webpack/issues/4613#issuecomment-342694095 ) "fixes" this issue. But I think such a patch would also mess up with the consistent hashing for long-term caching since for the modules skipped hashing would be non-deterministic (I think). But I am not sure. I am hoping @sokra would weigh in.

[2017-11-14 17:16] timse commented on #55
just saw this after opening #58 sorry for that :P.

The issue probably should be handled by webpack?

[2017-11-15 08:38] cansin commented on #55
@timse thanks for https://github.com/webpack-contrib/expose-loader/pull/58 ! That would at least unblock everyone while the underlying issue gets fixed at https://github.com/webpack/webpack .

[2017-11-16 09:04] michael-ciniawsky commented on #56
No the loader still uses CJS [internally](https://github.com/webpack-contrib/expose-loader/blob/master/index.js#L20) so your exposed file becomes a `harmony` export atm. We could/should update this to use ESM instead, but needs triage

[2017-11-17 16:24] #49 closed

[2017-11-17 16:24] #55 closed

[2017-12-02 04:05] timse commented on #48
I assume this can be closed?
Given the loader can't do anything about how webpack handles the test-regexp, and the above mentioned regexp just doesnt match under windows?

[2017-12-02 04:36] michael-ciniawsky commented on #48
Yep you're right, good catch @hjlld see @timse's [comment](https://github.com/webpack-contrib/expose-loader/issues/48#issuecomment-348666369)

[2017-12-02 04:36] #48 closed

[2017-12-07 17:12] WiseBird opened #60 "Clarify/improve config usages in readme"
Readme suggests `require.resolve` as a way to get path to a module, but webpack's resolution differs from node's one (e.g. webpack [supports](https://github.com/webpack/webpack/issues/1979) `module` property).

Please update readme with info about how to properly get module path.

[2017-12-15 00:43] liz-mars commented on #54
This specific issue just caused me to waste three hours, so it would be good to either fix the bug, deprecate this package, or put a warning on the README.

[2017-12-15 01:16] liz-mars commented on #53
Also having this.

[2017-12-15 01:24] elmarsto opened #62 "Problem with react-phoenix, webpack 3"
I believe this is just the expose-loader-is-silently-broken-under-Webpack-3 issue we've been seeing crop up elsewhere in Issues, but just in case it isn't;

I have a Phoenix/Elixir app that uses a React/ES6 frontend. Currently we're using Brunch and it sucks. I got everything configured for webpack, however, but now there's trouble.

The module react-phoenix, which we depend on to inject react int

[2017-12-15 06:14] IEfucker commented on #54
webpack3.8.1
came up with the same issue

[2017-12-15 14:08] AndyOGo commented on #8
@richardscarrott
Thanks you very much for posting you solution, it worked for me.

@sokra
@d3viant0ne
Could please add this to the readme as a caveat, saying that this loader will of course not work if the module is excluded by `noParse` option (which is not ideal btw.)

[2017-12-28 00:06] amakhrov opened #63 "0.7.4 not compatible with webpack v1"
Looks like in the recent 0.7.4 release `peerDependencies: {"webpack": "^2.0.0 || ^3.0.0"}` has been added - effectively marking the plugin incompatible with webpack v1.

Is there any change in the code that really makes the module incompatible with v1? It doesn't seem to be the case based on the diff (https://github.com/webpack-contrib/expose-loader/compare/v0.7.3...v0.7.4) - but maybe I'm missing

[2018-01-08 00:37] aratcliffe commented on #54
Same on webpack 3.8.1

[2018-01-15 21:23] IronSean commented on #38
@steffanhalv the first line of your answer doesn't work in TypeScript:
`TS2307: Cannot find module 'expose-loader?$!jquery'.`

[2018-01-16 14:34] steffanhalv commented on #38
I havent tried with typescript, Im using latest babel with env preset.
I could use jqueryui with jquery by:

import 'jquery-ui'
import $ from 'expose-loader?$!jquery'

[2018-01-16 14:47] evilebottnawi commented on #38
@steffanhalv can you create minimum reproducible test repo?

[2018-01-16 16:27] steffanhalv commented on #38
Dont have time right now, but if you pm me in about a week or two I could
probably do it.

16. jan. 2018 15:47 skrev "Evilebot Tnawi" <notifications@github.com>:

[2018-03-02 05:39] 719media opened #66 "webpack 4"
is this module going to be updated for use with webpack 4 with #61  ?

[2018-03-03 06:00] michael-ciniawsky commented on #66
@719media Besides the` peerDependency` warning, did you use `expose-loader` with `webpack >= 4`? Could you confirm nothing broke ? I will patch the package then :)

[2018-03-05 22:34] craigjennings11 commented on #66
Nothing broke in my project when I upgraded to webpack@4.0.0. Just got the warning.

[2018-03-07 12:22] basilikum commented on #66
For me expose-loader@0.7.1 stopped working when updating to webpack@4.1.0. I could not see an error message but it failed to bind jquery to window, using the following configuration:

[code]

The most recent version (0.7.4) however seems to work fine.

[2018-03-07 17:00] zapo commented on #66
Works fine as well for us in development.

But for some reason tests (ran with karma & karma-webpack) seems to no longer have access to exposed modules. I'm running them in "development" mode with no automagic vendor chunk splitting. Not sure if expose-loader concern or not.

[code]

[2018-03-07 18:31] michael-ciniawsky commented on #66
Waiting for #61 and patch asap

[2018-03-08 03:56] 116050423 commented on #54
same on "webpack": "^3.6.0",

[2018-03-09 11:52] michael-ciniawsky commented on #66
Released in [`v0.7.5`](https://github.com/webpack-contrib/expose-loader/releases/tag/v0.7.5) 🎉

[2018-03-09 11:52] #66 closed

[2018-03-18 07:25] ghost opened #68 "The react-router-dom,react-redux,redux is packaged invalid in webpack V3."
When a package is exposed as a global variable in the react project, the same configuration react-router-dom,react-redux, and redux are not valid when packaged.
Attach a code:
`
module: {
    rules: [
      {
        test: /\.(js|jsx|es6)$/,
        exclude: /node_modules/,
        use: 'babel-loader'
      },
      {
        test: /\.less$/,
        use: ['style-loader', 'css-loader', 'postcss-lo

[2018-03-24 14:16] MichaelBuen commented on #22
use webpack.ProvidePlugin

[code]

Test code:

[code]

Output:

![image](https://user-images.githubusercontent.com/1811636/37864969-e3900b7a-2fb0-11e8-8cfc-234f42237bd6.png)

[2018-03-24 18:32] d-ph commented on #22
Thanks for your answer, Michael.

I'm closing this ticket because I now use a separate ts/js file where I import all js polyfills I require for the browsers I support. I actually prefer this way of doing this because I can see at a glance what I polyfill in my project without rummaging through the webpack's config file.

Thanks again for your time, though. I appreciate it.

[2018-03-24 18:32] #22 closed

[2018-04-11 07:09] dstollie commented on #46
We're running with the same problems. Is there a simple way expose directly on the window object instead of defining a hardwritten libraryName?

[2018-04-21 06:05] bchavez commented on #25
I have the same issue with Webpack 4.

I have a `DllPlugin` inside `webpack.config.vendor.js` that contains `expose-loader` for jQuery that I want globally exposed whenever the DLL file is loaded in the browser with a script tag:
[code]
The `expose-loader` doesn't work when `DllPlugin` is used. If I remove the `DllPlugin` code in `webpack.config.vendor.js` the globally exposed jQuery works fine in

[2018-04-24 06:17] mifopen commented on #25
Workaround, that works for me even with webpack 4
**webpack.vendor.config.js**
[code]

**webpack.config.js**
[code]

And now I can simply `import $ from "jquery";`

[2018-04-24 06:41] bchavez commented on #25
Thank a bunch @mifopen for sharing your configuration workaround. I will give it a try. Just want to point out for others that stumble on this difficult bug, the way I solved this is to create two independent config files: `webpack.config.ts` and `webpack.config.vendor.ts`.

**`webpack.config.vendor.ts`** uses `expose-loader` as normal:
[code]
Then, **`webpack.config.ts`** defines vendor exports a

[2018-05-04 10:08] uoziod commented on #20
Experiencing the described problem with Webpack 4.

[2018-05-04 15:54] nass600 commented on #66
Looks like this is still happening.

webpack: 4.6.0
expose-loader: 0.7.5

[2018-05-17 15:56] Val-istar-Guo opened #72 "can not export vuex with webpack config"
* Operating System: Mac
* Node Version: 10.0.0
* NPM Version: 5.6.0
* webpack Version: 4.5.0
* expose-loader Version: 0.7.5

This issue is for a:

- [ ] **bug** export-loader not work with vuex

### Code

when i `import 'vuex'` and `import 'jquery'` window.vuex is not defined, but window.$ can be use correct

when i use `import 'expose-loader?vuex!vuex'`, window.vuex can be use.

[code]

##### CLI

[2018-06-01 10:55] Runtu4378 opened #73 "Something weird in deal multiple local version and global version of webpack and webpack-dev-server"
* Operating System: not related to this issue
* Node Version: not related to this issue
* NPM Version: not related to this issue
* webpack Version: not related to this issue
* expose-loader Version: not related to this issue

This issue is for a:

- [ ] **bug**
- [ ] **feature** request
- [x] **modification** request

### Code

##### CLI Command

[code]

### Expected Behavior

if i have install tw

[2018-06-01 11:11] Runtu4378 commented on #72
where you call `window.vuex`?

[2018-06-01 12:32] Val-istar-Guo commented on #72
a js file loaded via jsonp:

https://github.com/Val-istar-Guo/assist-plugin-system/blob/master/src/views/list/component/index.vue#L19

add the webpack file:
https://github.com/Val-istar-Guo/assist-plugin-system/blob/master/webpack.config.babel.js

[2018-06-01 15:10] Runtu4378 commented on #72
下载了你的项目来看，不过暂时看不懂：

- 怎么利用 jsonp 来引用产物
- vuex 的 expose 暴露操作好像没有在现在的 master 分支上

我已有的经验里面比较好的解决方案是：

利用 webpack.ProvidePlugin 向 webpack 打包运行时注入需要注入的环境变量的同时利用 expose-loader 向浏览器脚本运行时注入要暴露的变量（这个变量要在这个 entry 文件开始运行时才会生效，在此之前的 script 注入中这个变量无效）例子详见：

https://github.com/Runtu4378/webpack_jquery_ie8/blob/77f9e3bdc477012cdc9677b42a08b4ebc86c40c2/cli/wpConf/public/plugins.js#L51

[code]

因为同时用到了 dll 和 Prov

[2018-06-02 16:44] Val-istar-Guo commented on #72
很抱歉，项目还在开发阶段，没有整理文档，思路也不是特别清晰。谢谢你的方案，不过我并不介意使用`import 'expose-loader?vuex!vuex'`这种方式。

我比较疑惑的地方在于按照`expose-loader`的说明文档，在rules里面配置和使用`import 'expose-loader?vuex!vuex'`应该会产生相同的效果，但是事实却并非如此。

如果这并非`expost-loader`的bug，我想可以关闭这个问题。
如果这是一个可能存在的bug，那么可能需要等项目稳定下来，我才能贴出具体的复现方案。

非常感谢您的帮助。

I'm sorry that the project is still in the development stage, and the documents have not been sorted out, and the idea

[2018-06-19 10:00] Trainmaster commented on #66
@zapo Did you find a solution for the failing tests running with karma & karma-webpack?

[2018-07-03 01:21] rafakwolf commented on #20
same here :\

[2018-07-13 03:46] rahiparikh opened #74 "Expose Loader not exposing all attributes"
Expose Loader does not correctly expose all the attributes of a module.

This issue is for a:

- [X] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code
https://codesandbox.io/s/nw4pk93jm - The sample shows the case where, when a module made available without webpack/expose-loader, all the properties/functions are available.

https://codesandbox.io/s/l9q9z541k9 - The sample

[2018-08-30 22:12] michaelord commented on #56
Is there any work around for this issue? I've refactored code today and this issue has reared its head for me...

[2018-09-04 06:27] xgqfrms commented on #20
# this is also OK

[code]

[2018-09-26 14:08] Jojoshua commented on #25
@bchavez I am also experiencing this problem when switching to the dllplugin. Could you provide the full config files to get this working? I am using the latest webpack and still not working.

[2018-09-27 21:11] elsheepo commented on #20
None of these solutions are working for me. I have created a project with create-react-app, installed expose-loader via npm, and all of these
 `require("expose-loader?$!jquery");`
`require("expose-loader?jQuery!jquery");`
`import 'expose-loader?$!jquery';`
`import 'expose-loader?jQuery!jquery';`
end with the same result, compilation fails, due to this error
`Unexpected '!' in 'expose-loader?$!jque

[2018-09-27 21:19] JohnnyFun commented on #20
@elsheepo you might consider using webpack's [provide plugin](https://webpack.js.org/plugins/provide-plugin/) like:

[code]

Many npm packages are smart enough to try to import/require in their dependencies and thus won't actually need them set on the window.

_But_ if you do indeed need it set on the window, did you try my hack above, where you make a module that imports jquery and sets it on the

[2018-09-28 21:01] elsheepo commented on #20
@JohnnyFun indeed, provide plugin worked like a charm 👍 thanks!

[2018-10-09 15:13] eerrecalde commented on #66
Still happening to me :/

webpack: 4.19.1
expose-loader: 0.75

This (in my entry file) works fine:

[code]

[2018-10-10 15:59] eerrecalde opened #77 "webpack 4 webpack.config approach doesn't work"
* Operating System: masOs
* Node Version: 10.x.x
* NPM Version: 6.x.x
* webpack Version: 4
* expose-loader Version: 0.7.5

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code

##### CLI Command

[code]

### Expected Behavior

Adding this in webpack.config.js should just work:
`{
    test: require.resolve('jquery'),
    use: [{
        loader: 'exp

[2018-10-30 17:46] eerrecalde commented on #66
Any update about this @michael-ciniawsky?

[2018-10-30 17:57] eerrecalde opened #78 "Doesn't work when used in webpack config (inline works fine)"
webpack: 4.19.1
expose-loader: 0.75

This (in my entry file) works fine:

import "expose-loader?$!jquery";
import "expose-loader?jQuery!jquery";

With this (in my webpack.config) doesn't work:
{ test: require.resolve('jquery'), use: [ { loader: 'expose-loader', options: 'jQuery' }, { loader: 'expose-loader', options: '$' } ] }

[2018-10-30 17:58] #78 closed

[2018-10-30 17:59] eerrecalde commented on #77
Hi, any updates about this?

[2018-10-30 18:15] evilebottnawi commented on #77
@eerrecalde PR welcome

[2018-10-30 22:10] eerrecalde commented on #77
@evilebottnawi Is that mean "we won't fix it" or "we don't have the time at the moment but we'll eventually fix it / have a look at it"?
Thanks!

[2018-10-30 22:13] evilebottnawi commented on #77
@eerrecalde

[2018-10-30 22:24] eerrecalde commented on #77
That sounds great 👍  Thanks!

[2018-10-31 13:32] RoboBurned commented on #77
[code]
and
[code]
does not work as well.

[2018-11-12 07:13] krunalshah68 commented on #77
Is this gonna be updated? Because of this I can't upgrade to webpack v4. or any workaround?

[2018-11-13 14:56] eerrecalde commented on #77
The workaround I found is to use it inline rather than in the webpack.config. In my case, I have something like this in the entry file:
`import "expose-loader?$!jquery";
import "expose-loader?jQuery!jquery"`

[2018-11-13 15:06] krunalshah68 commented on #77
@eerrecalde  Thanks for the response.
But the thing is that I'm having a non-spa python flask based website so I want to have it configured in webpack only. Any workaround for this?

[2018-11-22 19:06] MikeMitterer opened #79 "doc: Please add an example how to export functions/classes from my own lib"
I want to expose some of my TS-classes to 'window' but I have no idea how to automate this process with expose-loader...

At the moment I'm doing it manually like so: (exports.ts)
(just in case someone else has the same problem...)
[code]
I'm using webpack 4 and TS 3

[2019-01-21 02:09] do-adams commented on #77
I can confirm that this appears to be an issue in my case as well.

I cannot get the alternate `webpack.config` approach to work with Webpack (v4.29.0) but using the inline loader syntax works great as @eerrecalde mentioned!

[2019-01-25 13:24] juanitopons opened #81 "splitChunks won't expose given expose-loader rules"
* Operating System: Linux Ubuntu 16
* Node Version: v8.12.0
* NPM Version: 6.6.0
* webpack Version: 4.29
* expose-loader Version: 0.7.5

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code

##### webpack.config.js (splitchunks)

[code]
##### webpack.config.js (expose-loader rules)

[code]
### Expected Behavior

When I splitchunks for vendors (ej.

[2019-01-31 10:52] Dsupreme opened #82 "Push default export to global scope for typescript files"
* Operating System: OS X
* Node Version: 10.12.0
* NPM Version: 6.5.0
* webpack Version: "4.28.0",
* expose-loader Version: "0.7.5"

This issue is for a:

- [ ] **bug**
- [x] **feature** request
- [ ] **modification** request

### Code

##### CLI Command

[code]

##### webpack.config.js

[code]

[code]

### Expected Behavior

abc is added to the global scope or under **window**

### Actual Behavio

[2019-02-03 18:56] doktordirk commented on #81
try to exclude jquery from `test: /[\\/]node_modules[\\/]/,`

[2019-02-12 12:26] #81 closed

[2019-02-18 21:28] schneidmaster commented on #77
I have found that this works as expected if you also independently require in the file, e.g. an `import 'jquery';` somewhere at the top of your bundle (before you import other plugins or whatever needs global jQuery to be available). The "problem" is just that simply having the `expose-loader` rule in your webpack config does not actually cause jquery to be required in anymore; it just exposes it

[2019-02-19 16:57] thehenster opened #84 "Project description in the README"
It would be useful for first time visiters to https://github.com/webpack-contrib/expose-loader to explain what expose-loader does.

The npmjs page does a decent job with "The expose loader adds modules to the global object. This is useful for debugging, or supporting libraries that depend on libraries in globals."

(see https://www.npmjs.com/package/expose-loader)

The README could do with an expl

[2019-03-08 08:19] yevhey opened #86 "index.js is not resolved by dll reference plugin"
* Operating System: macOS Mojave 10.14.3
* Node Version: v10.11.0
* NPM Version: 6.4.1
* webpack Version: 4.29.6

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code

##### CLI Command

[code]

##### test.js
[code]

##### webpack.config.js
[code]

##### plugin.config.js
[code]
### Expected Behavior

It resolves `index.js` inside the specified fold

[2019-03-13 21:10] stefanfrede opened #87 "Exposing ES6 modules without the default property"
Is there any news regarding exposing ES6 modules without the default property?

I searched now for quite some time, and the only thing I can find is the workaround with `module.exports = …`.

[2019-03-26 21:29] patrick-mcdougle commented on #87
I think my code that I have open for review linked above solves this problem. I am not using it in production and it's my first webpack contribution, so use at your own risk.

[2019-04-17 09:33] febeling commented on #54
This `require('expose-loader?$!jquery')` should do it on its own.

To configure the expose-loader in config, I use this (feather-icons in this case):
[code]
and then just the import:
[code]

[2019-05-03 03:46] #72 closed

[2019-05-30 09:02] #86 closed

[2019-06-25 21:06] flut1 opened #89 "Webpack sometimes skips modules loaded through expose-loader when tree shaking is enabled"
I wasn't sure if this issue should be reported in `expose-loader` or `webpack` itself. Please let me know if I should report it elsewhere.

* Operating System: Windows
* Node Version: 11.15.0
* NPM Version: 6.9.0
* webpack Version: 4.35.0
* expose-loader Version: 0.7.5

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code
I ran into this issue whil

[2019-07-11 01:16] patrick-mcdougle commented on #82
This might be fixed by #85 I think the problem is that the expose loader doesn't know how to deal with harmony (ES) modules.

[2019-07-11 01:18] patrick-mcdougle commented on #56
@michael-ciniawsky how does #85 look? Will this solve this issue?

[2019-07-13 16:09] GummyDonut commented on #77
Is there any update on this? I have large amounts of legacy JQuery code and I would like to upgrade to webpack 4 but unfortunately I can't install jQuery globally through webpack and I can't import it in the bundle.js as some of the jquery libraries used do not support webpack when they were written.

For now my alternative is simply to call it in my main index.html as a script tag. Which is okay,

[2019-11-06 14:46] pydolan opened #91 "File hashes change between OSs when using expose-loader to replace jQuery and $"
* Operating System: Mac 10.14 & Ubuntu 16.04
* Node Version: v12.6.0 (on mac); v12.13.0 (on ubuntu)
* NPM Version: 6.9.0 (on mac); 6.12.0 (on ubuntu)
* webpack Version: 4.32.2
* expose-loader Version: 0.7.5

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code

##### webpack.config.js

[code]

[code]

### Expected Behavior

When building (via npm b

[2019-11-06 14:58] evilebottnawi commented on #91
Thanks for issue

[2019-11-06 14:59] evilebottnawi commented on #63
webpack@1 is outdated, please update webpack to latest version, thanks

[2019-11-06 14:59] #63 closed

[2019-11-06 14:59] evilebottnawi commented on #21
webpack@2 is outdated, please update webpack to latest version, thanks

[2019-11-06 14:59] #21 closed

[2019-11-15 17:51] DaleyKD commented on #66
Any update on this?  I'm on webpack 4.41.2 and expose-loader 0.7.5.

[2019-12-06 15:49] mistaker07 commented on #91
Maybe this could be a hint: actually is enough to rename the root folder of the project to change the contenthash after rebuilding.

[2019-12-06 22:14] aramgre commented on #60
Is there a straightforward way to resolve the path to the module from the package name? I'm using something like `require.resolve('some-package/full/path/to/esm.js')` but this is fragile against the package authors changing the directory structure, for example.

It seems difficult because the final webpack `resolve.mainFields` might not be known when the expose-loader is configured.

[2019-12-13 15:49] akaspick commented on #20
Just spent way too much time figuring this one out, but I finally was able to get jquery exposed properly.

This was always working for me:

`import 'expose-loader?jQuery!expose-loader?$!jquery'`

But I wanted to move that into my config like so:

[code]

This didn't work though because I was also creating an alias to jquery to point to a minified version:

[code]

The alias wasn't allowing expose

[2020-02-06 18:47] TMUND commented on #77
+1

[2020-06-01 13:50] cap-Bernardito commented on #23
Please update the dependencies to the latest versions. If the problem still appears, open a new issue with a minimally reproducible repository.

[2020-06-01 13:50] #23 closed

[2020-06-01 13:53] cap-Bernardito commented on #27
Please update the dependencies to the latest versions. If the problem still appears, open a new issue with a minimally reproducible repository.

[2020-06-01 13:53] #27 closed

[2020-06-01 14:31] cap-Bernardito commented on #53
Please update the dependencies to the latest versions. If the problem still appears, open a new issue with a minimally reproducible repository.

[2020-06-01 14:31] #53 closed

[2020-06-01 14:52] evilebottnawi commented on #47
Yes, just put your old `script` after old packages, like:
[code]

You need to run bundle files firstly, otherwise webpack doesn't fill expose object to global this.

[2020-06-01 14:52] #47 closed

[2020-06-01 14:53] cap-Bernardito commented on #82
A same problem #56. Will be fixed there.

[2020-06-01 14:53] #82 closed

[2020-06-01 14:53] cap-Bernardito commented on #87
A same problem #56. Will be fixed there.

[2020-06-01 14:53] #87 closed

[2020-06-01 16:37] evilebottnawi commented on #20
Fixed, now you can use `expose-loader?expose=jQuery,$!jquery`, we move all exposes names to the `expose` option to avoid this problem

[2020-06-01 16:37] #20 closed

[2020-06-01 16:38] #84 closed

[2020-06-01 16:40] evilebottnawi commented on #41
Done

[2020-06-01 16:40] #41 closed

[2020-06-01 16:56] evilebottnawi commented on #46
We can't expose library without name, because it will rewrite global object (`this`, `self`, `global`) and it is invalid. But you can using `require("expose-loader?expose=libraryName.MyClass!./src/index.ts");` and loader expose only class, I will update docs in near future

[2020-06-01 16:58] evilebottnawi commented on #54
We fixed a lot of bug for the next release, so it should be work, if you will faced with issue again please open a new issue with reproducible test repo, thanks

[2020-06-01 16:58] #54 closed

[2020-06-01 16:59] evilebottnawi commented on #38
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks! ETA is the next major release is end of week with a lot of fixes

[2020-06-01 16:59] #38 closed

[2020-06-02 14:37] cap-Bernardito commented on #74
A same problem #56. Will be fixed there.

[2020-06-02 14:37] #74 closed

[2020-06-02 14:39] evilebottnawi commented on #77
Fixed in the master

[2020-06-02 14:39] #77 closed

[2020-06-02 14:41] evilebottnawi commented on #68
Issue is not readable, sorry, I can't help, we prepare the next big release with a lot of fixes, maybe it help, ETA is the end of week, if you faced with the problem again after update feel free to open a new issue with reproducible test repo, sorry for delay

[2020-06-02 14:41] #68 closed

[2020-06-02 14:41] evilebottnawi commented on #62
Fixed in the master

[2020-06-02 14:41] #62 closed

[2020-06-02 14:43] evilebottnawi commented on #79
Is not implemented yes, will be part of the next release

[2020-06-02 14:43] evilebottnawi commented on #50
Close in favor https://github.com/webpack-contrib/expose-loader/issues/79

[2020-06-02 14:43] #50 closed

[2020-06-02 14:44] #46 closed

[2020-06-11 22:09] jwlms opened #99 "expose-loader not working correctly with webpack 4"
- Operating System: macOS 10.14.6
- Node Version: 12.18.0
- NPM Version: 6.14.4
- webpack Version: 4.43.0
- expose-loader Version: 0.7.5

### Expected Behavior

Requiring `expose-loader` and running webpack should bundle JavaScripts.

### Actual Behavior

Requiring `expose-loader` and running webpack does not bundle JavaScripts, but throws an error:

[code]

### How Do We Reproduce?

[code]

I put

[2020-06-12 12:37] evilebottnawi commented on #99
Fixed in the master

[2020-06-12 12:37] #99 closed

[2020-06-13 16:01] cap-Bernardito commented on #74
In your case, this is not an expose-loader bug. You write:

[code]

In this case, the default export from `openpgp` package is placed in the variable 'openpgp'. And these are not all options.

To export all the options you need to write:

[code]

[2020-06-15 10:40] asfaltboy commented on #99
Thanks for the quick fix @evilebottnawi 🎉 ! Can we tentatively expect a 0.7.6 release sometime this week?

[2020-06-15 10:48] evilebottnawi commented on #99
ETA (`1.0.0`) at this week

[2020-06-22 15:33] #18 closed

[2020-06-22 15:33] #19 closed

[2020-06-22 15:33] #56 closed

[2020-06-22 15:33] #91 closed

[2020-06-22 16:00] evilebottnawi commented on #79
Fixed, but you need to specify custom custom-type-definitions-to-a-third-party-library in your application manually , here examples https://www.detroitlabs.com/blog/2018/02/28/adding-custom-type-definitions-to-a-third-party-library/

[2020-06-22 16:00] #79 closed

[2020-06-22 17:51] evilebottnawi commented on #60
Changing public structure of package is a breaking change and should be done only for major releases, other improvements done in master, feel free to open a new issues if you still have a problems with docs, we will improve it

[2020-06-22 17:51] #60 closed

[2020-06-23 09:08] asfaltboy commented on #99
Hey @evilebottnawi , any news on the release? Is there anything we can do to help test or update any files?

[2020-06-23 10:33] evilebottnawi commented on #99
@asfaltboy Hello, small delay, ETA is today, more improvements and fixes

[2020-06-23 21:44] #89 closed

[2020-07-02 14:38] jwlms commented on #99
@asfaltboy Great that you're on it so quickly. What is the corresponding commit for the fix you've already created?

[2020-07-02 15:02] evilebottnawi commented on #99
@jwlms It was big refactor with many fixes, hard to say which commit to fix your problem

[2020-07-02 15:33] jwlms commented on #99
@evilebottnawi - I didn't verify it was fixed, but was just going off of that comment implying that it was already fixed at the time I forked and made a PR. Looking at the source it seems like this non-es function is still being used here as outlined in the PR I put in: https://github.com/webpack-contrib/expose-loader/blob/master/test/helpers/readAsset.js#L13

I don't know why webpack was throwing

[2020-07-03 11:48] evilebottnawi commented on #99
@jwlms If you still have a problem please open a new issue with reproducible test repo

[2020-08-21 12:26] ogonkov opened #114 "Options missing in third-party loader"
- Operating System: macos 10.15.6
- Node Version: v12.18.3
- NPM Version: 6.14.6
- webpack Version: 4.44.1
- expose-loader Version: 1.0.0

### Expected Behavior

Third-party loader (`fest-webpack-loader` in example) is receive options.

### Actual Behavior

When `expose-loader` is used options are just an empty object.

### Code

https://gist.github.com/ogonkov/0ca19648bebabf8ce2d3cfbb5a82b5e0

##

[2020-08-21 12:41] #114 closed, assigned to nobody

[2020-09-21 12:20] MhMadHamster opened #115 "Cannot expose ts module since 1.0.0"
- Operating System: Windows 10
- Node Version: 12.13
- NPM Version: yarn 1.12.3
- webpack Version: 4.44.2
- expose-loader Version: 1.0.0

### Expected Behavior
No errors when building project.

### Actual Behavior
Error: `Cannot read property 'hooks' of undefined` occures when building project with exposed ts modules.

### Code
[code]

### How Do We Reproduce?
Repo with example: https://github.com

[2020-09-21 12:58] evilebottnawi commented on #115
Do not use loader in `entry`, it will be error in webpack@5

[2020-09-21 12:58] #115 closed

[2020-09-21 13:17] MhMadHamster commented on #115
@evilebottnawi It works currently for js files, so it dosent really make sense to me why js works just fine and ts is not working because of the changes in the next webpack major version. Also there was nothing about "consider not using loader for entries" in the changelog of `1.0.0`.

[2020-09-21 13:37] evilebottnawi commented on #115
Anyway bug in `thread-loader`, you can remove `thread-loader` and all works fine, can you open new issue in `thread-loader`?

[2020-09-21 13:39] MhMadHamster commented on #115
Sure, thanks.

[2020-11-05 08:40] kongaraju opened #118 "Issue with alias while exposing private module"
I have a simple webpack config

[code]

webpack could not able to resolve `mylib`, throwing error `package not found`.

am I missing something? please help me to resolve the issue.

[2020-11-05 12:05] evilebottnawi commented on #118
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please respect time of other developers. I will reopen this after you fix the problem with the issue template

[2020-11-05 12:05] #118 closed

[2020-11-24 15:30] psimk commented on #89
This issue is still present on the latest version of `1.0.1`. Following @flut1's findings, I'm also unsure whether `webpack` or `expose-loader` are the real problem here.
To re-test this issue, I have updated @flut1's [reproduction repository](https://github.com/flut1/reproduction-expose-loader-optimization), to now include the latest version and the latest builds.

This is the build output of the

[2020-11-24 15:36] evilebottnawi commented on #89
Yes, please create separate issue

[2020-11-24 16:03] psimk opened #120 "Webpack omits exposed modules when sideEffects are enabled"
Reopening issue #89. The same problem still occurs on version `1.0.1` of `expose-loader`

- Operating System:
- Node Version: 12.8.3
- NPM Version: 6.14.8
- webpack Version: 4.35.0
- expose-loader Version: 1.0.1

### Preface
`sideEffects` is set to `true` when `mode` is **production**.

### Expected Behavior
When `mode` is **production**, `styled-components` is bundled and exposed as a global `sty

[2020-11-24 16:45] evilebottnawi commented on #120
Can you try `sideEffects: false` on the loader level

[2020-11-24 17:02] psimk commented on #120
@evilebottnawi Might be a dumb question, but how would I disable `sideEffects` on the loader level? don't see anything about it in webpack's documentation.

[2020-11-24 17:09] evilebottnawi commented on #120
Just add `sideEffects` where you set `test`/`exclude`/`include`, https://webpack.js.org/configuration/module/#rulesideeffects, bad documentation

[2020-11-24 19:56] psimk commented on #120
This would mean that I can't use the inline syntax as it can't accept rule options?

I have attempted it with `sideEffects` disabled:

[code]

but no luck, `styled-components` still seems to be removed.

Also, I have tried using the non-inline sytax with `sideEffects` disabled, then the `styled-components` module is bundled, but there's no exposed `styled` global. I have added this reproduction to

[2020-11-25 11:49] evilebottnawi commented on #120
What is real use case to use `styled-components` and `expose-loader`?

[2020-11-25 13:20] psimk commented on #120
a proprietary library, which requires `styled-components` to be defined globally. However, I am guessing, because we are not using `styled-components` in our own code, `sideEffects` then removes outright.

[2020-11-25 14:19] evilebottnawi commented on #120
Why do not use `externals`?

[2020-11-25 14:42] psimk commented on #120
Isn't `externals` for defining globally scoped variable's as importable modules? I need the opposite, that's why I am using `expose-loader`. `styled-components` needs to be exposed as a global.

[2020-11-25 15:01] evilebottnawi commented on #120
You can try this workaround:
[code]

[2020-11-25 15:12] evilebottnawi commented on #120
Ref: https://github.com/webpack/webpack/issues/6571

[2020-11-25 15:12] evilebottnawi commented on #120
I don' think we can fix it here, because it was stripped by webpack

[2020-11-26 11:45] evilebottnawi commented on #120
Found solution, fix will be in near future

[2020-11-26 14:10] #120 closed

[2020-11-26 14:12] evilebottnawi commented on #120
Please try https://github.com/webpack-contrib/expose-loader/releases/tag/v1.0.3

[2020-11-26 15:01] psimk commented on #120
Both the reproduction and internal repositories work as intended now! Thank you!

[2021-01-04 15:34] aurels opened #125 "! vs |"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

Here in the docs :
https://github.com/webpack-contrib/expose-loader#inline

It's said that the separator is `|`. Then, just below, in the examples, it's a `!`.
Maybe I'm missing something but I think it's a typo.

### Your Proposal for Changes

Use `|` in the examples. Unless it has anot

[2021-01-04 15:38] alexander-akait commented on #125
`!` is webpack syntax - https://webpack.js.org/concepts/loaders/#inline
`|` is loader syntax to provide multiple options

[2021-01-04 15:46] aurels commented on #125
Mmhm. Thanks, still looks confusting. Would you give me an example of loading for example lodash, with override ?

    import "expose-loader?exposes[]=_|lodash|true"
    import "expose-loader?exposes[]=_|_|true!lodash"

[2021-01-04 16:01] alexander-akait commented on #125
[code]

[2021-01-04 16:01] alexander-akait commented on #125
`

[2021-01-04 16:01] #125 closed

[2021-01-04 16:05] aurels commented on #125
Nope, I get `The "_" value exists in the global scope, it may not be safe to overwrite it, use the "override" option` (at runtime). That's why I'm trying to use the `override` option from the README.

[2021-01-04 16:07] alexander-akait commented on #125
Why you want to override lodash existing in global scope, it can be unsafe in many cases

[2021-01-04 16:21] aurels commented on #125
Good point. I'm investigating who's importing it at first place.

[2021-01-04 16:29] aurels commented on #125
It looks like something specific to lodash. It seems to auto expose itself as `_`.
Doing `import 'lodash'` alone, makes it available everywhere I need it.

Not really clear to me since it wasn't the case before I updated `expose-loader`. Unless it was silently already doing this.

Thanks again.

[2021-01-26 14:40] friendlymahi commented on #125
@alexander-akait - Even I have similar use case. I was provided with a bundle that loads some React components based on some business logic that is processed within that bundle. So, when we expose React from the primary app , we wanted to ensure we use the same version of React across the app. So we tried using the expose-loader syntax, and eventually end up getting the error message
`Uncaught Err

[2021-01-26 14:42] alexander-akait commented on #125
You need to use `override` option, https://github.com/webpack-contrib/expose-loader#override

[2021-01-26 14:43] alexander-akait commented on #125
But again, it is unsafe, you have react inside bundle and react into `window`, in your case I recommend to use `external`

[2021-01-26 19:43] friendlymahi commented on #125
Are you suggesting using external in the top level app and then load an external reference?

Here is my use case.

Main app has two bundles app.js and vendor.js(which is containing react). Now the third party bundle thirdparty.js which depends on react. Just so you are aware third bundle is from a different webpack and a different project and is directly loaded on the page. As suggested by you in

[2021-03-15 23:02] jdnichollsc commented on #114
Sorry folks, I'm getting this error:
[code]

Do you have any idea? Thanks for your help!

[2021-03-16 11:56] alexander-akait commented on #114
You need webpack v5 to use latest version of this loader

[2021-03-16 13:44] jdnichollsc commented on #114
@alexander-akait thanks Alexander, you're right! It was solved using expose-loader@1.0

[2021-04-21 14:19] Sorkstryparen opened #129 "Cant get new versions of expose-loader to work"
I really need help with figuring out why I get this error:

[code]

I had version 0.7.5 of expose-loader and updated to version 2.0.0 and the whole project dies.
I get several errors saying exactly the same but points to different files, some are my own others are libs from node_modules.

I have asked this on [StackOverflow](https://stackoverflow.com/questions/67180552/cant-get-new-versions-of-exp

[2021-04-21 14:25] alexander-akait commented on #129
You have wrong configuration, please provide current loader options

[2021-04-21 14:41] Sorkstryparen commented on #129
{
				test: require.resolve("jquery"),
				use: [{
					loader: "expose-loader",
					options: {
						exposes: ["$", "jQuery"],
					}
				}],
			},

[2021-04-21 14:56] alexander-akait commented on #129
Wierd, are you sure you use latest version? Run `npm ls expose-loader`.

[2021-04-21 15:02] Sorkstryparen commented on #129
Did it and it says 2.0.0:

This is the whole webpack file, with names changed to "bla":

[code]

[2021-04-21 15:08] alexander-akait commented on #129
I think you have `expose-loader` in code using inline syntax `require("expose-loader?$!jquery");` (or something similar with `import`), try to search this in your code

[2021-04-21 15:17] Sorkstryparen commented on #129
Yee you are right!
Example:
`import "expose-loader?moment!moment";`

should I just delete these then

[2021-04-21 15:18] alexander-akait commented on #129
Better rewrite it to `import $ from "expose-loader?exposes=moment!moment";`, I don't know your code, so removing it may be unsafe

[2021-04-21 15:21] Sorkstryparen commented on #129
True, will do that, we have a large codebase and that will be the safest to do.

Thank you so much for solving this, I have been pulling my hair for hours! :)

[2021-04-21 15:23] #129 closed

[2021-04-27 10:08] infinitum11 opened #130 "Unable to expose jQuery"
I'm trying to expose jQuery globally, but without luck.

Windows: 10 64-bit
node: v14.16.1
npm: 7.9.0

package.json

[code]

webpack.config.js

[code]

app.js

[code]

When I build the project I get following error in a browser console:
[code]

My bundle contains following lines:

[code]

I tried to remove import from app.js and add a rule to webpack.config.js, but got the same error.
[code]

[2021-04-28 07:25] infinitum11 commented on #130
My fault. I had to remove **noParse** option from **module** object.

[code]

[2021-04-28 07:25] #130 closed

[2021-04-30 01:58] noslouch commented on #120
FWIW I was seeing this in my next.js project and it was due to the differences between node and webpack import resolutions.

`require.resolve('styled-components')` returns the path to the commonjs module (the `main` field from the `styled-components` package).

in my next project, imports are done using the `import` syntax, which webpack will resolve to the `module` field of the specified package.

[2021-05-04 15:55] Sorkstryparen opened #131 "expose-loader works in Chrome but not FireFox?"
Hi there!

After some issues with upgrading from 0.7.5 to 2.0.0 everything where fine with expose-loader thanks to @alexander-akait [(Issue#129),](https://github.com/webpack-contrib/expose-loader/issues/129) until we tested in Firefox and we got several errors.

First off these ones works in both FF(Version 88) and Chrome(Version 89.0.4389.128):
[code]

Then we have several entrys like this:
[code

[2021-05-05 12:53] alexander-akait commented on #131
Can you provide reproducible example? Maybe bug in browser

[2021-05-05 14:37] Sorkstryparen commented on #131
Hi and sorry to bother you again 😶.

Unfortunately I think I can't, because this happens in the pages where the Razor views is supposed to use the React components:
`$"<script>ReactDOM.render(React.createElement({component}, {JsonConvert.SerializeObject(serializerConfig)}), document.getElementById(\"{contId}\"))</script>");`

I just thought it was interesting that it worked fine with chrome using

[2021-05-05 15:29] alexander-akait commented on #131
It means you have multiple `Components` in global scope, this can lead to such problems, without the code I cannot tell what is wrong, sorry

[2021-05-05 15:38] Sorkstryparen commented on #131
yes and I understand and with override true it works :).
No need to be sorry mate :)!

I understand, this case i quite complex with razor views and react components needs to be expose to them etc.
I just wanted to have some kind of discussion and highlight this. To understand it better for my self and maybe you get something out of it as well :).

Because i find it quite interesting that different

[2021-05-05 16:35] alexander-akait commented on #131
To be honestly we generate very simple code (example https://github.com/webpack-contrib/expose-loader/blob/master/test/__snapshots__/loader.test.js.snap#L89), so it should work in IE/FF/Chrome and other browsers

[2021-05-05 16:56] Sorkstryparen commented on #131
Yee, I did note even care to test it in another browser first, it was our tester that did that.

Maybe a stupid question, sorry if it is... but is there a way to create/inspect the exposes generated by expose-loader or is all off it under webpack?

[2021-05-05 17:00] alexander-akait commented on #131
You can write `console.log(code)` https://github.com/webpack-contrib/expose-loader/blob/master/src/index.js#L100 and you will see it

[2021-05-05 17:15] Sorkstryparen commented on #131
Maybe this can be something that is a issue in my case:
🚀 ~ file: index.js ~ line 94 ~ loader ~ code var ___EXPOSE_LOADER_IMPORT___ = require("-!./index.js");
var ___EXPOSE_LOADER_GET_GLOBAL_THIS___ = require("../expose-loader/dist/runtime/getGlobalThis.js");
var ___EXPOSE_LOADER_GLOBAL_THIS___ = ___EXPOSE_LOADER_GET_GLOBAL_THIS___;
if (typeof ___EXPOSE_LOADER_GLOBAL_THIS___["ReactDOM"] === 'undef

[2021-05-05 20:14] Sorkstryparen commented on #131
Well I'm not going to bother you more with this "issue", thanks for the discussion. Awesome help like always 😀!
Keep up your awesome work ppl! ✨

[2021-05-05 20:14] #131 closed

[2021-07-21 07:43] webgzh907247189 commented on #130
why? I don't quite understand。

[2021-07-21 08:04] infinitum11 commented on #130
No idea. I didn't dig deeper. I just removed jQuery from noParse and it worked.  Of course the build time was increased insignificantly.

[2021-07-21 08:08] webgzh907247189 commented on #130
I'm just the same as you. I also used expose + noparse, the same as the question, thank you for your reply

[2021-08-12 04:54] SampsonCrowley opened #142 "Docs Mismatch and Absolutely no "local" Examples"
Documentation Is:

- [X] Missing
- [ ] Needed
- [X] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

1. Docs Mismatch: [https://github.com/webpack-contrib/expose-loader#options](https://github.com/webpack-contrib/expose-loader#options)

The `exposes` `String` documentation doesn't stick to one library:

First it shows a snippet of the `underscore` library

[code]

Then it shows an examp

[2021-10-07 15:56] thomas-yancey opened #144 "opt out of development thrown error"
### Feature Proposal

add ability to turn off thrown error in development without turning on override

### Feature Use Case
In development I can not match what occurs in production when I have two bundles I believe. if I turn on override then the second loaded bundle exposes what was requested and the first is replaced, in production with no overrides the first is exposed and the second does not o

[2021-10-07 15:57] alexander-akait commented on #144
This message special for this case, you can break your application

[2021-10-08 03:34] thomas-yancey commented on #144
but as it stands it allows to get this functionality in production but not in development. It should allow you to have the same functionality in both environments. If I understand how it works I think it just grabs first bundles exposed package without override, but the recommendation in the docs to get past that is put overrides: true which allows the second bundle to override the first. this cau

[2021-10-08 09:41] alexander-akait commented on #144
I am again on this change, it protects against problems, can you describe case why you have this situation?

[2021-10-22 04:49] #144 closed, assigned to nobody

[2022-01-14 08:48] julesrx opened #149 "Exposing a class converts it to an esmodule object"
### Bug report

### Actual Behavior

Exposing a class converts it to an esmodule object. The object is then not considered as a class, and I cannot use its constructor.
However, the class is present on the `default` property.

![image](https://user-images.githubusercontent.com/25800503/149482028-9be7012a-ad49-4448-8207-0fbd4f5d25b6.png)

This is particularly annoying when using libraries that expo

[2022-01-14 17:32] alexander-akait commented on #149
Expected, because you use `export default MyClass;`, try to use  `import MyClass from 'expose-loader?exposes=MyClass.default!./my-class.js';`

[2022-01-14 17:56] julesrx commented on #149
This worked. Thanks 👍

[2022-01-14 17:56] #149 closed

[2022-02-20 03:08] libla opened #154 "webpack and webpack --watch will get different output"
### Bug report

I use expose-loader in webpack5, and I found when webpack --watch is running and the file changed, will output different with webpack, the combined filename without "-exposed" suffix.
I create a demo for this:
https://github.com/libla/expose-loader-demo.git

### Actual Behavior

One of the outputs is
[code]
and another is
[code]

### Expected Behavior

webpack and webpack --watch w

[2022-05-17 15:52] #154 closed

[2022-05-19 13:24] stam commented on #125
Could you still answer the question about how to override in inline mode?
I'm working on a legacy project which would take months to refactor this properly.

And this doesn't work:
`import "expose-loader?exposes=$|$|true,jQuery!../../lib/jquery/js/jquery-2.2.4.min.js";`

[2022-06-12 15:33] KutnerUri commented on #50
sorry but #79 does not seem related.
I am encountering the same problem: trying to expose a package that is consumed as is, and also as nested files.

In my example, `grapql` is consumed as:
[code]

this makes my current loader irrelevant:
[code]

this will expose `window.graphql` correctly, but completely ignore internal files like graphql/language.

I wanted something like this:
[code]

@alexand

[2022-07-08 11:08] thany opened #172 "jQuery is not being exposed"
### Bug report

Exposing jQuery doesn't work. A global `$`, `jQuery`, a `window.$`, `window.jQuery`, or even `globalThis.$` or `globalThis.jQuery` all **do not exist** in the resulting bundle, and therefor in the browser, and therefor in the browser console. They all return `undefined`.

### Actual Behavior

[code]

### Expected Behavior

[code]

### How Do We Reproduce?

Add this rule:

[code]

B

[2022-07-08 11:14] thany commented on #172
Even if I change it to `exposes: [ "jQueryFOOBAR", "$" ]`, that identifier `jQueryFOOBAR` is **nowhere** to be found in the **entire** bundle that is being produced. It's as if it just nothing at all happens.

Also good to know, `require.resolve('jquery')` resolves to the jquery package, and the file really does exist.

I've also tried moving the expose-loader to the top of the rules. No effect.

[2022-07-08 12:17] alexander-akait commented on #172
Please provide example of a usage

[2022-07-08 12:25] thany commented on #172
What kind of usage do you mean? Just `webpack --config webpack.config.js --progress` and watch an `app.js` being built.

Turns out if i change
[code]
To:
[code]

It works. But why?

Again, `require.resolve('jquery')` absolutely does return a valid&existing path to jQuery. And I have another project that is identical to this one, when it comes to exposing jQuery, where it does work as documented. O

[2022-07-10 19:45] alexander-akait commented on #172
You can load jquery from node_modules (i.e. `require.resolve('jquery')` will work for your), but also you can loader jquery not from node_modules, so your `test` will not work, thati is why I asked about example, also I want to look how you loader jQuery in your app to undestand potential problems

[2022-11-07 22:09] GuySartorelli opened #188 "Doesn't work as expected when exposing @apollo/client"
### Bug report

When trying to expose `@apollo/client`, I get an error

### Actual Behavior

The browser dev console shows this error:

The output of `index-exposed.js` in the dev console is:
[code]

Note that I have other modules being exposed immediately before and after `@apollo/client` and they all work fine (when `@apollo/client` isn't being exposed) - though none of them have an `@` or `/` i

[2022-11-07 22:27] alexander-akait commented on #188
Sounds like a bug, feel free to send a PR with fix

[2022-11-07 22:41] GuySartorelli commented on #188
I haven't looked at the code for this at all but I am very much a fledgling when it comes to webpack. I wouldn't know where to start looking for the cause let alone a solution 😅

[2022-11-07 22:53] alexander-akait commented on #188
I think the bug somewhere here https://github.com/webpack-contrib/expose-loader/blob/master/src/index.js#L51, just add `console.log` and look at values

[2022-11-07 22:57] GuySartorelli commented on #188
Awesome, thanks. If I have time to look into this I'll see what I can see